<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collapseunion.commonapi.cloudable.blog.mapper.ArticleMapper">

    <!--  文章不带标签的摘要信息  -->
    <resultMap id="articleSummarySimpleResult" type="com.collapseunion.commonapi.cloudable.blog.dto.ArticleSummaryDto">
        <id property="uuid" column="article_uuid"/>
        <result property="title" column="article_title"/>
        <result property="summary" column="article_summary"/>
        <result property="imgUrlMd" column="article_imgUrlMd"/>
        <result property="createTime" column="article_createTime"/>
        <result property="updateTime" column="article_updateTime"/>
    </resultMap>

    <!--  文章带标签的摘要信息  -->
    <resultMap id="articleSummaryResult" type="com.collapseunion.commonapi.cloudable.blog.dto.ArticleSummaryDto">
        <id property="uuid" column="article_uuid"/>
        <result property="title" column="article_title"/>
        <result property="summary" column="article_summary"/>
        <result property="imgUrlMd" column="article_imgUrlMd"/>
        <result property="createTime" column="article_createTime"/>
        <result property="updateTime" column="article_updateTime"/>
        <collection property="tags" ofType="com.collapseunion.commonapi.cloudable.blog.dto.TagDto"
                    resultMap="articleTagResult" columnPrefix="tag_"/>
    </resultMap>

    <!--  文章详情信息  -->
    <resultMap id="articleDetailResult" type="com.collapseunion.commonapi.cloudable.blog.dto.ArticleDetailDto">
        <id property="uuid" column="article_uuid"/>
        <result property="title" column="article_title"/>
        <result property="summary" column="article_summary"/>
        <result property="content" column="article_content"/>
        <result property="imgUrlMd" column="article_imgUrlMd"/>
        <result property="imgUrl" column="article_imgUrl"/>
        <result property="createTime" column="article_createTime"/>
        <result property="updateTime" column="article_updateTime"/>
        <collection property="tags" ofType="com.collapseunion.commonapi.cloudable.blog.dto.TagDto"
                    resultMap="articleTagResult" columnPrefix="tag_"/>
    </resultMap>

    <!--  文章对应的标签信息  -->
    <resultMap id="articleTagResult" type="com.collapseunion.commonapi.cloudable.blog.dto.TagDto">
        <id property="uuid" column="uuid"/>
        <result property="name" column="name"/>
        <result property="color" column="color"/>
    </resultMap>

    <sql id="articleSummarySql">
        a.uuid article_uuid,
        a.title article_title,
        a.summary article_summary,
        a.img_url_md article_imgUrlMd,
        a.create_time article_createTime,
        a.update_time article_updateTime
    </sql>

    <sql id="articleSummaryAndTagSql">
        t.uuid tag_uuid,
        t.name tag_name,
        t.color tag_color,
        <include refid="articleSummarySql"/>
    </sql>

    <sql id="articleAndTagSql">
        a.content article_content,
        a.img_url article_imgUrl,
        <include refid="articleSummaryAndTagSql"/>
    </sql>

    <sql id="commonWhere">
        <if test="condition != null">
            <if test="condition.uuid != null and condition.uuid != ''">
                AND a.uuid = #{condition.uuid}
            </if>
            <if test="condition.title != null and condition.title != ''">
                AND a.title like CONCAT('%',#{condition.title},'%')
            </if>
            <if test="condition.summary != null and condition.summary != ''">
                AND a.summary like CONCAT('%',#{condition.summary},'%')
            </if>
            <if test="condition.createTime != null">
                <![CDATA[
                AND DATE_FORMAT(DATE(a.create_time), '%Y-%m-%d') <= STR_TO_DATE(#{condition.createTime}, '%Y-%m-%d')
                ]]>
            </if>
        </if>
    </sql>

    <sql id="commonWhere2">
        AND a.deleted = 0
        <if test="condition != null">
            <if test="condition.uuid != null and condition.uuid != ''">
                AND a.uuid = #{condition.uuid}
            </if>
            <if test="condition.title != null and condition.title != ''">
                AND a.title like CONCAT('%',#{condition.title},'%')
            </if>
            <if test="condition.summary != null and condition.summary != ''">
                AND a.summary like CONCAT('%',#{condition.summary},'%')
            </if>
            <if test="condition.createTime != null">
                <![CDATA[
                AND DATE_FORMAT(DATE(a.create_time), '%Y-%m-%d') <= STR_TO_DATE(#{condition.createTime}, '%Y-%m-%d')
                ]]>
            </if>
        </if>
    </sql>

    <select id="listAllArticleSummary"
            resultMap="articleSummaryResult">
        SELECT
        <include refid="articleSummaryAndTagSql"/>
        FROM t_article a
        LEFT JOIN t_article_tag a_t ON a_t.article_id = a.uuid
        LEFT JOIN t_tag t ON t.uuid = a_t.tag_id
        AND a.deleted = 0
        AND t.deleted = 0
    </select>

    <select id="pageArticleSummaryByCondition"
            resultMap="articleSummarySimpleResult">
        SELECT
        <include refid="articleSummarySql"/>
        FROM t_article a
        <where>
            <include refid="commonWhere2"/>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="pageArticleSummaryAndTagByCondition"
            resultMap="articleSummaryResult">
        SELECT
        <include refid="articleSummaryAndTagSql"/>
        FROM t_article a
        LEFT JOIN t_article_tag a_t ON a_t.article_id = a.uuid
        LEFT JOIN t_tag t ON t.uuid = a_t.tag_id
        AND a.deleted = 0
        AND t.deleted = 0
        <where>
            <include refid="commonWhere"/>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="countArticleByCondition" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_article a
        <where>
            <include refid="commonWhere"/>
        </where>
    </select>

    <select id="findArticleById" resultMap="articleDetailResult">
        SELECT
        <include refid="articleAndTagSql"/>
        FROM
        t_article a
        LEFT JOIN t_article_tag a_t ON a_t.article_id = a.uuid
        LEFT JOIN t_tag t ON t.uuid = a_t.tag_id
        WHERE
        a_t.article_id = #{uuid}
        AND a.deleted = 0
        AND a_t.deleted = 0
        AND t.deleted = 0
    </select>
</mapper>
